img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    object-fit: contain;
    z-index: -1;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0px;
    padding: 16px 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

footer {
    position: sticky;
    bottom: 0px;
    padding: 8px 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.button {
    background: white;
}

.selected {
    background: gray;
}

.disabled {
    background: red;
}